$color-primiary-blue: #128FE5;

$color-secondary-red: #F24E1E;
$color-secondary-orange: #FF7262;
$color-secondary-purple: #A259FF;
$color-secondary-blue: #1ABCFE;
$color-secondary-green: #0ACF83;

$color-text-gray: #57606A;
$color-text-black: #000000;

$color-border: #D0D7DE;
$color-background: #F6F8FA;


// @import 'node_modules/bootstrap/scss/bootstrap.scss'